html {
  background-color: #254515;
}

/*Header styles*/
#main-header {
  background: url("../images/headerbackground.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 10em;
  color: #fff;
}

.block-style {
  box-shadow: .7em .85em  1.5em rgba(0, 6, 49, 0.6);
  border-radius: .25em;
}

header a {
  color: #fff
}

/*Main Body Styles*/
main {
  background-color: #C9DEA9;
  color: #000;
  padding: 0;
  margin: 0;
  padding-bottom: 1em;
}

main a {
  color: #000;
}

/*main section {
  max-width: 95%;
  margin: auto;
}*/

/*Footer styles*/
footer {
  background-color: #254515;
  color: #fff;
  min-height: 5em;
  text-align: center;
  padding-top: 1em;
}

/*Other styles*/
p, h4, li {
  font-family: 'Hind', sans-serif;
}

strong {
  color: #254515;
}

h1 {
  font-family: 'Hind', sans-serif;
  font-size: 2.5em;
  margin: 0;
}

h2 {
  font-family: 'Hind', sans-serif;
  font-size: 2em;
  color: #254515;
  margin: .5em;
}

h3 {
  font-family: 'Hind', sans-serif;
  font-size: 1.5em;
  color: #254515;
  margin: .5em;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

#compare-results h2 {
  font-weight: bold;
}
#compare-results td {
  padding: 1em;
  border-left: #E86523;
  border-right: #E86523;
  border-left-style: solid;
  border-right-style: solid;
  text-align: center;
  background-color: #C9DEA9;
  margin: 0;
}

#compare-results td:first-of-type {
  border: none;
  background-color: #244515;
  color: white;
  font-weight: bold;
}

#compare-results th {
  background-color: #244515;
  color: white;
  padding: 1.5em;
  }
#compare-results h3 {
  font-weight: bold;
}

#compare-results h4 {
  font-weight: bold;
}

#compare-form button[type="submit"] {
  padding: 1em;
  background-color: #E86523;
  color: white;
  display: block;
  margin: auto;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  margin-top: .5em;
  margin-bottom: .5em;

}

#compare-form fieldset {
  border: none;

}

#compare-form a {
  font-weight: bold;
  display: block;
  padding-bottom: .5em;
}
