/*Header styles*/
#main-header {
  background-color: #254515;
  color: #fff;
  box-shadow: 0px 4px 6px 0px rgba(50, 50, 50, 0.82);
  border-bottom: 4px solid #41631E;
}

header a {
  color: #fff
}

/*Main Body Styles*/
main {
  background-color: #C9DEA9;
  color: #000;
  padding: 0;
  margin: 0;
  padding-bottom: 1em;
}

main a {
  color: #000;
}

/*main section {
  max-width: 95%;
  margin: auto;
}*/

/*Footer styles*/
footer {
  background-color: #254515;
  color: #fff;
  min-height: 5em;
  text-align: center;
  padding-top: 1em;
}

/*Other styles*/
h1 {
  margin: 0;

}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}
