
/*Header layout styles*/
header h1 {
  font-family: 'Hind', sans-serif;
  font-size: 2.5em;
  text-align: center;
  padding: 0;
}

#site-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#site-name .logo {
  height: 3.5em;
  width: 3.5em;
  margin: 0;
}

#chartdiv {
  width: 100%;
  float: left;
  height: 750px;
  clear: right;
  margin: 0 3em 3em 3em;
}

#filters-wrapper {
  width: 100%;
  margin: 0 auto;
}

/*Adapted from a codepen on select css styling https://codepen.io/ericrasch/pen/zjDBx*/
#filters {
  margin: 0 auto;
  overflow:hidden;
  width:350px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #330033;
  background: #58B14C no-repeat scroll 319px center;
  align-self: flex-end;
}

#filters select {
   border: 0;
   width:350px;
   color: #254515;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   *background: #58B14C;
}

/*Clearfix*/

.group::before, .group::after {
  content: "";
  display: table;
}

.group::after {
  clear: both;
}

.group {
  *zoom: 1;
}
