


/*Header layout styles*/
header h1 {
  font-size: 3em;
  text-align: center;
  padding: .25em;
}

/*Nav bar layout*/
nav li {
  font-size: 1.25em;
  text-align: center;
  padding: .25em;
}

nav a  {
  padding: .25em 5em;
}

nav li:hover {
  background-color: #41631E;
  font-weight: bold;
}

#chartdiv {
  width: 100%;
  height: 500px;
}

/*Media queries*/
/* bigger than a large smartphone*/
@media screen and (min-width:480px) {
  nav li {
    display: inline-block;
  }

  nav a {
    padding: .25em;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-img {
    width: 18%;
  }

}

/*bigger than a tablet*/

@media screen and (min-width:1024px) {
