/*Park Page*/
.goto-park img{
  max-width: 100px;
  max-height: 100px;
}

.state-button button{
  width:7em;
  overflow: hidden;
  border-radius: 9px 9px 9px 9px;
  border-color: #79AD24;
  box-shadow: 1px 1px 11px #330033;
  background: #79AD24;
}

#park-page {
  background-color: #edecee;
}

#park-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  height: 35vh;
}

#nps-img {
  height: 40vh;
  width: 100%;
  margin: 1.25em auto 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#nps-img p {
  margin: .25em;
}

#nps-img img {
  margin: .25em;
  max-width: 100%;
}

#park-name-des {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

#park-name-des h2, h4 {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: .3em;
  color: white;
}

#nps-body {
  max-width: 90%;
  margin: 0 auto;
  line-height: 95%;
  color: #404040;
}

#nps-body h4 {
  font-weight: 700;
  color: #254515;
  margin: .25em;
}

/*Twitter Container*/

#tweet-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#tweet {
  margin: 0;
  padding: 0;
  min-width: 80%;
  min-height: 40vh;
}

#tweet img {
  max-width: 75%;
  border-radius: 15px;
}

#tweet-container button {
  outline: none;
  height: 80px;
  width: 40px;
  background-color: #E86523;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em;
  border: none;
  box-shadow: 2px 2px 6px darkgrey;
}

.left-button {
  border-radius: 80px 0 0 80px;
  margin: 0 -5px 0 0;
}

.right-button {
  border-radius: 0 80px 80px 0;
  margin: 0 0 0 -5px;
}

/*Flickr Container*/

#flickr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#flickr {
  margin: 0;
  padding: 0;
}

#flickr #flickr-logo {
  max-width: 75%;
  border-radius: 15px;
}

#flickr div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#flickr div img {
  width: 100%;
}

#flickr-container button {
  outline: none;
  height: 80px;
  width: 40px;
  background-color: #E86523;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em;
  border: none;
  box-shadow: 2px 2px 6px darkgrey;
}

#flickr-img p {
  text-align: center;
  font-family: 'Hind', sans-serif;
  color: #404040;
}

.left-button {
  border-radius: 80px 0 0 80px;
  margin: 0 -5px 0 0;
}

.right-button {
  border-radius: 0 80px 80px 0;
  margin: 0 0 0 -5px;
}

footer h1 {
  color: #C9DEA9;
}

/*Media queries*/
/* bigger than a large smartphone*/
@media screen and (min-width:480px) {

  header h1 {
    font-size: 2.75em;
  }

  nav li {
    font-size: 1.5em;
  }

  nav a {
    padding: .25em;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .flex-item {
    width: 23%;
  }
  .flex-item img {
    width: 100%;
    border-radius: 10%;
  }

  #about-page {
    height: 75vh;

  }
  #developers {
    width: 100%;
  }
  #developers li {
    display: inline-block;
    float: right;
  }

}

@media screen and (min-width:650px) {

  html {
    background: url("../images/backgroundimage.jpg") fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #content-body {
    width: 85%;
    margin: 2% auto;
  }

  #main-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }

  header h1 {
    font-size: 3em;
  }

  nav li {
    font-size: 1.5em;
  }

  #park-name-des h2 {
    padding: .5em;
  }

  #park-header {
    height: 50vh;
  }

  #tweet-container, #flickr-container {
    width: 90%;
    height: auto;
  }

}

/*bigger than a tablet*/
@media screen and (min-width:960px) {


  #nps-body {
    display: inline-block;
    width: 45%;
    float: left;
    margin: 2%;
  }

  .park-col2 {
    display: inline-block;
    width: 45%;
    float: right;
    margin: 2%;
  }
